<!-- views/index.ejs - Página inicial -->
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Rastreador de Tabaco</title>
    <link rel="stylesheet" href="/Users/luccas/Desktop/Projeto 2024/public/css/style.css">
</head>
<body>
    <header>
        <h1>Bem-vindo ao Rastreador de Consumo de Tabaco</h1>
        <nav>
            <ul>
                <li><a href="/users/login">Login</a></li>
                <li><a href="/register">Registrar</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <p>Esta é uma ferramenta para ajudar você a parar de fumar.</p>
    </main>
    <footer>
        <p>&copy; 2024 Rastreador de Tabaco. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
